<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">VA Emergency</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
               VA Emergency
            </p>
            <p class="oe_mt32">
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Help and Support</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="support.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                <ul>
                    <!--<li><a href="http://codup.com/en/applications/maintenance/190-components.html">Help</a></li>
                    <li><a href="http://codup.com/en/applications/maintenance/190-components.html">Support</a></li>
                    <li><a href="http://codup.com/en/applications/maintenance/190-components.html">Request new features</a></li>-->
                </ul>
            </p>
        </div>
    </div>
</section>